@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>BIENVENIDO</h1>

    <p>
        Este Sistema de Ventas es 100% nacional
        que esta preparado para brindarle todos los productos de excelente calidad!
    </p>
   </div>

<h2></h2>
<div class="col-md-12">
    <h1> La temperatura en Asunción es  :<span data-bind="text:main.temp"></span>&deg; C </h1><br />

    <h1> Pero se siente como  :<span data-bind="text:main.feels_like"></span>&deg; C </h1> <br />
    <h2>Perfecto para...</h2><br />
    <img src="~/img/cerveza.gif" alt="gif" style="max-width:100%;width:auto;height:auto; align-content:center; " />

</div>


<script>
    var clima = Object();
    $(document).ready(function () {
            $.get("@Url.Action("GetClima", "Home")", function (response) {
                //response
                console.log(response);
                clima = ko.mapping.fromJS(response);  //populate the weather object
                ko.applyBindings(clima);

            });
    });

</script>
