
@{
    ViewBag.Title = "Nosotros";
}

<h1>Quienes somos?</h1>
<p class="lead">Un grupo de estudiantes enfocados y decididos en pasar la materia.</p>


<div class="row">

    <div class="col-md-4">
        <img src="~/img/Andrea.jpeg" height="200" width="200">
        <h3>Andrea Hospital </h3>
        <p>
            Analista de Procesos, estudiante, dibujante en sus tiempos libres.<br />
            Le gusta la lectura, dormir y ver series en Netflix, <br />
            en especial aquellas con tinte dramático.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/AndreaBelenH">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/Sasha.png" height="200" width="200">
        <h3>Sasha Flores</h3>
        <p>
            Analista de sistemas y futura ingeniera informática♥ <br />
            Joven trabajadora y amante de los unicornios. <br />
            En sus (casi escasos) tiempos libres le gusta dormir, <br />
            ver series, leer historias de ficción y editar videos.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/lissy023">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/Adrian.jpg" height="200" width="200">
        <h3>Adrian Soa</h3>
        <p>
            Adrian Soa estudiante de Lic. en Informática y futuro desarrollador. <br />
            En sus tiempos libres juega voleibol, futbol o videojuegos. <br />
            Se puede contactar al correo:asoa17@hotmail.com.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/adrian.soa">Para mas info &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/img/Matias.jpg" height="200" width="200">
        <h3>Matias Valdez</h3>
        <p>
            Joven emprendedor de 22 años, con conocimiento sobre redes,  <br />
            3 años de experiencia en desarrollo de software, <br />
            suele jugar futbol con los perros y <br />
            realiza el 3er tiempo en la bodega todas las semanas.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/matias.valdez.942">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/Vilma.jpg" height="200" width="200">
        <h3>Vilma Colman</h3>
        <p>
            Estudiante de Analisis de Sistemas, amantes de los deportes<br />
            en sus tiempos libres escucha musica o se dedica a sus clases.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/vilma.colman.568">Para mas info &raquo;</a></p>
    </div>

</div>

