
@{
    ViewBag.Title = "Nosotros";
}

<h2>Nosotros</h2>

div class="jumbotron">
<h1>Quienes somos?</h1>
<p class="lead">Un grupo de estudiantes enfocados y decididos en pasar la materia.</p>


<div class="row">

    <div class="col-md-4">
        <img src="">
        <h3>Andrea Hospital </h3>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/AndreaBelenH">Para mas info &raquo;</a></p>
    </div>

</div>

