
@{
    ViewBag.Title = "Nosotros";
}

<h1>Quienes somos?</h1>
<p class="lead">Un grupo de estudiantes enfocados y decididos en pasar la materia.</p>


<div class="row">

    <div class="col-md-4">
        <img src="~/img/Andrea.jpeg" height="250" width="200">
        <h3>Andrea Hospital </h3>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/AndreaBelenH">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/Sasha.png" height="200" width="200">
        <h3>Sasha Flores</h3>
        <p>
            bio
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/lissy023">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/Adrian.jpg" height="200" width="200">
        <h3>Adrian Soa</h3>
        <p>
            bio
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/adrian.soa">Para mas info &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/img/Matias.jpg" height="200" width="200">
        <h3>Matias Valdez</h3>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/matias.valdez.942">Para mas info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="">
        <h3>Vilma Colman</h3>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/vilma.colman.568">Para mas info &raquo;</a></p>
    </div>

</div>

